* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}

.container {
  display: inline-block;
  width: 200px;
  padding: 30px 10px 20px;
}

.cart {
  position: relative;
  border: 2px dotted;
  margin-bottom: 10px;
}

.cart-id {
  letter-spacing: 1px;
  user-select: none;
  padding: 15px 10px;
}

.copied {
  color: #2c9a18;
  font-weight: bold;
  font-size: 12px;
  visibility: hidden;
  position: absolute;
  left: 10px;
  bottom: 0;
}

.cart-id.animate + .copied {
  visibility: visible;
}

.new-cart-id-btn {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid;
  border-radius: 3px;
  padding: 2px 10px;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 20px;
  top: -18px;
  text-transform: lowercase;
  user-select: none;
}

.new-cart-id-btn:active {
  transform: scale(0.95);
}

.new-cart-id-btn.disabled {
  transform: scale(1);
  border: 1px solid rgb(195, 195, 195);
  color: 1px solid rgb(195, 195, 195);
  cursor: default;
}

button {
  border: none;
  padding: 10px;
  border-radius: 3px;
  background: #8857c6;
  color: #fff;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
}

button img {
  margin-right: 5px;
}

button span {
  position: relative;
  top: 1px;
}

button:hover {
  background: #753fba;
}

button:active {
  transform: scale(0.96);
}

button:disabled {
  background: #753fba;
  cursor: not-allowed;
}

.warning {
  margin-top: 10px;
  background-color: rgb(228, 228, 228);
  border-radius: 3px;
  padding: 5px 10px;
  display: none;
}

.warning p {
  font-size: 14px;
  margin-top: 5px;
}

.animate {
  animation: flash 0.35s 3.5;
}

@keyframes flash {
  0% {
    background: #bcd4b4c5;
  }
  100% {
    background: #bcd4b4c5;
  }
}
